<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definition for OutputFormatterFactory -->
    <bean id="formatterFactory" class="com.codecool.scc.ConcreteOutputFormatterFactory"/>

    <!-- Bean definitions for OutputFormatters -->
    <bean id="jsonFormatter" class="com.codecool.scc.output.JsonOutputFormatter"/>
    <bean id="tableFormatter" class="com.codecool.scc.output.TableOutputFormatter"/>
    <bean id="xmlFormatter" class="com.codecool.scc.output.XmlOutputFormatter"/>

    <!-- Bean definition for FileReaderClass -->
    <bean id="fileReader" class="com.codecool.scc.FileReaderClass"/>

    <!-- Bean definition for ConverterApplication -->
    <bean id="converterApplication" class="com.codecool.scc.ConverterApplication">
        <constructor-arg name="formatterFactory" ref="formatterFactory"/>
        <!-- Additional constructor args for dynamic values can be set programmatically -->
    </bean>
</beans>